//
//  Config.xcconfig
//  CitySights App
//
//  Created by Rakhyun Kim on 10/2/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = yOo_zRxkqNeLupReOiihStmbVgZeJOslO0fx2eTf372Vs8v-5LXeVD5SVuuBhUM7S727FcNyUlieHkCDJ-UdH738jAzlumER7Ek_Y9BdRppvIfn3m0N9OHTic2gtZXYx
