//
//  Config.xcconfig
//  CitySights App
//
//  Created by Rakhyun Kim on 10/2/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = 7t2GJGXWBD_mRSXF-3LakDFFJeuDRrMs5z4AqtqOuugtCr-v7OxOCYXT1yL_v8mA-J08CSm404KtcCrRyojvIEHK980yp8ZLvZPQ3zgYn8EfR8zihsvvKwiqovj5ZHYx1
